body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    background: url(images/img_1.png) no-repeat center;
    background-size: cover;
    height: 688px;
    padding-top: 91px;
}

header div {
    max-width: 1440px;
    padding-left: 150px;
}

h1 {
    font-family: Playfair Display;
    font-size: 80px;
    font-weight: 800;
    line-height: 88px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    max-width: 586px;
}

.button {
    background-color: #FFFFFF;
    padding: 16px;
    width: 164px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}

section {
    padding: 0 150px;
}