body {
    margin: 0;
    padding: 0;
}

p, .picto-items span{
    font-family: Quicksand, sans-serif, Arial;
}

header {
    display: flex;
    background: url(images/img_1.png) no-repeat center;
    background-size: cover;
    height: 688px;
    padding-top: 91px;
}

header div {
    max-width: 1440px;
    padding-left: 150px;
}

h1 {
    font-family: PlayfairDisplay;
    font-size: 80px;
    font-weight: 800;
    line-height: 88px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    max-width: 586px;
}
h2 {
    text-transform: uppercase;
}
h2, h3 {
    font-family: Rubik;
    font-weight: 600;
    font-size: 46px;
    
}

h3 {
    font-size: 40px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
    

}

.button {
    background-color: #FFFFFF;
    padding: 16px;
    width: 164px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    font-family: quicksand;
}

section {
    padding: 0 150px;
}

.about {
    display: flex;
    flex-direction: column;
    padding-bottom: 169px;
}
.about h2 {
    padding-top: 92px;
}
.about-item{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 108px;
    margin-bottom: 100px;
}
.about-item:nth-child(3) .side-text{
    grid-area: 1 / 1;
}

.about img {
    width: 500px;
    border-radius: 50%;
}

.about img:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

.about h3 {
    margin: 0 0 40px 0;
}
.side-text {
    display: flex;
    width: 465px;
    flex-direction: column;
    justify-content: center;
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;

}

.industries {
    background-color: #18302B;
    color: #ffffff;
    height: 492px;
}

.industries h2 {
    text-align: center;
    text-transform: uppercase;
    padding-top: 80px;
    margin: 0;
}


.picto-row {
    display: flex;
    justify-content: space-between;
    padding: 98px 0;
}
.picto-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.picto-items div {
    background-color: #FFFFFF;
    border-radius: 50%;
}
.picto-items span {
    margin-top: 42px;
}

.picto-row img {
    width: 52px;
    padding: 28px;
}


.third-row__img-box {
    position: relative;
    margin: 130px 0;
}
.third-row__img-box_img {
    min-width: 300px;
    max-width: 100%;
}
.play-box {
    position: absolute;
    bottom: 44px;
    left: 44px;
    display: flex;
    align-items: center;
}

.play-box_img {
    width: 46px;
    margin-right: 16px;
}

.play-box_btn {
    font-size: 24px;
    font-family: Quicksand;
    color: white;
    font-weight: 500;
}